.footer {
  background: #555;
  padding: 5em 0;
}
.footer h4 {
    font-size: 2.8em;
    font-family: 'OleoScript-Regular';
    line-height: 1em;
    color: #AEE3EF;
    margin-bottom: 0.5em;
}
.footer-left ul {
  padding: 0;
  margin: 0;
}
.footer-left ul li {
	display: block;
	font-size: 1em;
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.5px;
	margin-bottom: 0.5em;
}
.footer-left ul li:nth-child(2),.footer-left ul li:nth-child(3) {
  font-weight: 100;
  color: #ebebeb;
}
.footer-left ul li a{
	color: #fff;
	text-decoration:none;
}
.footer-left ul li a:hover{
	color: #AEE3EF;
}
.footer-right a {
  display: inline-block;
}
.footer-right p {
  color: #fff;
  font-size: 1em;
  letter-spacing: 1px;
  margin: 1em 0 0;
}
.footer-right p a {
  color: #AEE3EF;
  font-size: 1em;
  letter-spacing: 1px;
}
.footer-right p a:hover{
	color: #fff;
}
.icons {
    margin-top: 1.2em;
}
.icons ul li{
	display:inline-block;
	margin:0 .2em;
}
.icons ul li a.twitter{
  background: url(../images/icons.png) no-repeat 0px 0px;
  height: 24px;
  display: block;
  width: 24px;
}
.icons ul li a.facebook{
  background: url(../images/icons.png) no-repeat -33px 0px;
}
.icons ul li a.chrome{
  background: url(../images/icons.png) no-repeat -66px 0px;
}
.icons ul li a.pinterest{
  background: url(../images/icons.png) no-repeat -99px 0px;
}
.icons ul li a.linkedin{
  background: url(../images/icons.png) no-repeat -132px 0px;
}
.icons ul li a:hover {
    transform: rotatey(360deg);
	-webkit-transform: rotatey(360deg);
	-moz-transform: rotatey(360deg);
	-o-transform: rotatey(360deg);
	-ms-transform: rotatey(360deg);
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.footer {
    padding: 4em 0;
}
.footer-left {
    float: left;
    width: 25%;
    padding-left: 0;
}
.footer h4 {
    font-size: 2.5em;
}
.footer {
    padding: 3em 0;
}
.footer h4 {
    font-size: 2.2em;
}
.footer-right p {
    font-size: 0.9em;
}
.footer-left ul li {
    font-size: 0.9em;
}
.footer-left {
    width: 50%;
    padding-left: 2em;
    margin-bottom: 2em;
}
.footer {
    padding: 2em 0 1em;
}
.footer h4 {
    font-size: 2em;
}
.footer-left {
    padding: 0;
    margin-bottom: 1em;
}
.footer-right p {
    font-size: 0.85em;
}
.footer-left {
    float: none;
    width: 100%;
    margin: 0 auto .8em;
}
.footer-right {
    float: none;
    width: 100%;
    padding: 0;
}
.footer h4 {
    font-size: 1.8em;
	margin-bottom: 0.3em;
}