body{
    margin:0;
    font-family: 'Roboto-Regular';
    background-color: #fff;
  }
  @font-face {
      font-family: 'Roboto-Regular';
      src: url(../fonts/Roboto-Regular.ttf) format('truetype');
  }
  @font-face {
      font-family: 'OleoScript-Regular';
      src: url(../fonts/OleoScript-Regular.ttf) format('truetype');
  }
  @font-face {
      font-family: 'OleoScript-Bold';
      src: url(../fonts/OleoScript-Bold.ttf) format('truetype');
  }
  body a{
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    text-decoration:none;
  }
  h1,h2,h3,h4,h5,h6{
    margin:0;        
  }
  p{
    margin:0;
  }
  ul,label{
    margin:0;
    padding:0;
  }
  body a:hover{
    text-decoration:none;
  }
  
  .banner {
    background:url(../images/1.png)no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    min-height:450px;
    position:relative;
  }
  .banner-info {
    background:url(../images/dott.png)repeat 0px 0px;
    background-size:4px;
    -webkit-background-size:4px;
    -moz-background-size:4px;
    -o-background-size:4px;
    -ms-background-size:4px;
    min-height:450px;
    padding:2em 0;
  }
  .logo {
      text-align: center;
  }
  .ribbon {
      width: 50%;
      position: relative;
      background:#CADDE1;
      height: 70px;
      margin: 0px auto;
      left: 0;
      top: 0;
  }
  .ribbon::before, .ribbon::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      border: 35px solid #CADDE1;
      z-index: 1;
  }
  .ribbon::before {
    left: -75px;
    border-right-width: 60px;
    border-left-color: transparent;
  }
  .ribbon::after {
    right: -75px;
    border-left-width: 60px;
    border-right-color: transparent;
  }
  .logo h1 {
      font-size: 3.5em;
      font-family: 'OleoScript-Regular';
      letter-spacing: 3px;
      padding: 0.2em 0;
    text-shadow: 1px 3px 0 #9BC0C7;
  }
  .logo h1 a {
      color: #fff;
  }
  .logo h2 {
      font-size: 1.4em;
      color: #FFF;
      letter-spacing: 2px;
      font-family: 'OleoScript-Regular';
      margin-top: 2em;
  }
  .banner-bottom {
      background-color: #CADDE1;
      min-height: 350px;
    position:relative;
  }
  .banner-text {
      background-color: #fff;
      padding: 2em;
      display: inline-block;
      text-align: center;
      position: absolute;
      top:-16%;
      left: 27.5%;
  }
  .banner-text h3 {
      font-size: 4em;
      font-family: 'OleoScript-Regular';
      color: #68686a;
  }
  .banner-text p {
      font-size: 1em;
      color: #68686a;
      margin: 1em 0 2em;
      text-align: center;
      letter-spacing: 8px;
      font-weight: 700;
  }
  .banner-text a {
      font-size: 1.1em;
      text-align: center;
      color: #68686a;
      border: 1px solid #000;
      padding: .3em 1.5em;
    position: relative;
  }
  /* Button 1b */
  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .btn-1b:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #555;
  }
  .btn-1b:hover, .btn-1b:active {
      color: #fff;
      z-index: 9;
  }
  .btn-1b:hover:after,
  .btn-1b:active:after {
    height: 100%;
  }
  /*--//baner--*/
  /*--top-nav--*/ 
  nav.navbar.navbar-default {
      border: none;
      background: none;
  }
  div#bs-example-navbar-collapse-1 {
      padding: 0;
      width: 44%;
      margin: 7em auto 0;
  }
  .navbar-default .navbar-nav > li > a {
      color: #FFF;
      font-size: 1.2em;
  }
  .navbar-nav > li > a {
      padding: 10px 25px;
      line-height: 1.5em;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #AEE3EF;
  }
  .navbar-nav > li > a.active {
      color: #AEE3EF;
  }
  .cl-effect-14 a {
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
  }
  
  .cl-effect-14 a::before,
  .cl-effect-14 a::after {
    position: absolute;
    width: 45px;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0.2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
  }
  
  .cl-effect-14 a::before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  
  .cl-effect-14 a::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  
  .cl-effect-14 a:hover::before,
  .cl-effect-14 a:hover::after,
  .cl-effect-14 a:focus::before,
  .cl-effect-14 a:focus::after,
  .cl-effect-14 a.active::before,
  .cl-effect-14 a.active::after {
    opacity: 1;
  }
  
  .cl-effect-14 a:hover::before,
  .cl-effect-14 a:focus::before,.cl-effect-14 a.active::before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
  }
  
  .cl-effect-14 a:hover::after,
  .cl-effect-14 a:focus::after,.cl-effect-14 a.active::after{
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
  }
  .grid-body-container {
    display: grid;
    grid: 255px / auto auto ;
    grid-gap: 10px;
    background-color: #555;
    padding: 10px 0; 
    margin-top: 0.5em;
  }
  .welcome {
      margin: 0em 0 0em 0;
  }
  h3.title {
      font-size: 7.5em;
      font-family: 'OleoScript-Regular';
      line-height: 4em;
      color: #000;
      text-align: center;
  }
  .welcome p {
      font-size: 1em;
    margin-top:.5em;
      color: #555;
      line-height: 1.8em;
    text-align:center;
  }
  .welcome-img {
      overflow: hidden;
      border: 8px solid #FFF;
  }
  .welcome img {
      max-width: 100%;
      height: auto;
  }
  .welcome-info {
      margin: 3em 0;
  }
  /*--//welcome--*/
  img.zoom-img {
       transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
  }
  img.zoom-img:hover{
       transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-duration: 750ms;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-duration: 750ms;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    overflow: hidden;
  }
  
  .welcome-grids {
      float: center;
      max-width: 150%;   
  }
  .welcome-grids:nth-child(1){
    padding-left: 0;
  }
  .welcome-grids:nth-child(2){
    padding-right: 0;
  }
  
